
        <div style="margin-left: 50px;">
            <h1 class="shadowed-text">TuSegundazo.com</h1>
        </div>

    <hr style="margin-left: 50px;">
    
    <div style="margin-left: 50px;">
        <img src="assets/img/Panel.png" alt="" width="1244" height="323">
    </div>
    
    <hr style="margin-left: 50px;">
    
    <div class="row">
        <div class="col-6" style="margin-left: 50px;">
            <app-tabla-vehiculos [vehiculos]="vehiculos"></app-tabla-vehiculos>
        </div>
    </div>
    
    <footer class="text-center">
        <div class="row">
            <div class="col">
                <p>Contact us: +57 3102105253 - info&#64;tusegundazo.com - &#64;tusegundazo</p>
            </div>
        </div>
    </footer>
    